/* NewProject.css
/* NewProject.css */

/* Base styles */
/* .editor-pane {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  
  .editor-header {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 0.5rem;
    padding: 0.5rem;
    background-color: var(--secondary);
    border-top: 4px solid var(--gray-500);
  }
  
  .result-pane {
    overflow: hidden;
    height: 100%;
  } */
  
  /* Mobile styles */
  /* @media (max-width: 768px) {
    .editor-pane {
      height: auto;
    }
  
    .CodeMirror {
      height: 300px !important;
    }
  } 
   */























